services:
  - type: web
    name: phishguard-api
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 8000
      - key: PYTHON_VERSION
        value: 3.9.6
      - key: PYTHONUNBUFFERED
        value: 1
